body {
	background-color: slateblue;
	width: 100%;
	height: 100%;
	h1 {
		color: saddlebrown;
		font-weight: 700;
		font-size: 1.4em;
	}
}

#app {
	header[data-clicked="true"] {
		background-color: deeppink;
	}
	main[data-clicked="true"] {
		background-color: deepskyblue;
	}
	footer[data-clicked="true"] {
		background-color: mediumseagreen;
	}
}