<fieldset data-id="browser-sync">
	<legend></legend>
	<field data-id="port">
		<label></label>
		<capture contenteditable></capture>
	</field>
	<field data-id="host">
		<label></label>
		<capture contenteditable></capture>
	</field>
	<fieldset data-id="https">
		<legend></legend>
		<field data-id="key">
			<label></label>
			<capture contenteditable></capture>
		</field>
		<field data-id="cert">
			<label></label>
			<capture contenteditable></capture>
		</field>
	</fieldset>
</fieldset>