<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= $content.title %></title>
  <%- await include(
    '/html5/structure.ejs', 
    { structure: $content.styles }, {
      async: true,
    }
  ) -%>
</head>
<body>
  <header>
    MVC Framework Projects
  </header>
  <main>
    <ul>
      <li>
        <a href="./static-cms">Static CMS</a>
      </li>
    </ul>
  </main>
  <%- await include(
    '/html5/structure.ejs', 
    { structure: $content.scripts }, {
      async: true,
    }
  ) -%>
</body>
</html>