body {
	display: flex;
	flex-direction: column;
	background-color: cadetblue;
	color: lightgoldenrodyellow;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: .9em;
}

h1, h2, h3, h4, h5, h6 { 
	font-size: 1.5em;
	margin: 0.3em 0em;
}
mvc-framework {
	display: flex;
	flex-direction: column;
}

research, 	
experiments,
hypotheses,
tests,
proofs,
arguments,
conclusions,
preconditions {
	display: flex;
	flex-direction: column;
}
experiment,
hypothesis,
test,
proof,
argument,
conclusion,
precondition {
	display: flex;
	flex-direction: column;
}
