@use "sass:map" as map;
/*
$settings
  fontSize
*/
$pass: (
  "contentTrue": "☑",
  "contentFalse": "☒"
);
@mixin default($settings) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:before {
    font-size: map.get($settings, "fontSize");
  }
  &[data-pass="true"] {
    &:before {
      content: map.get($pass, "contentTrue");
    }
  }
  &[data-pass="false"] {
    &:before {
      content: map.get($pass, "contentFalse");
    }
  }
}